[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-security = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djangorestframework-gis = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
django-environ = "*"
djoser = "*"
django-bootstrap4 = "*"
# TODO ↓使うかちょっとわからんのであとで精査する
django-crispy-forms = "*"
django-filter = "*"
django-pure-pagination = "*"
coverage = "*"
django-debug-toolbar = "*"
wheel = "*"
django-cleanup = "*"
Pillow = "*"
stripe = "*"


[requires]
python_version = "3.8"
