[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djangorestframework-gis = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
django-environ = "*"
djoser = "*"
Django = "*"

[requires]
python_version = "3.8"
